{% extends 'base.html.twig' %}

{% block title %}Appointments{% endblock %}

{% block body %}

<h1>hello! {{userid.name}}</h1>
<h2>Your Details</h2><br>


   Email:{{userid.email}}<br>
   Phone:{{userid.phone}}<br><br>

<h2>Booking Details</h2>

   

{% endblock %}


{% block javascripts %}
<script>

</script>
{% endblock %}
