{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div>
        {% for slot in slots %}
            <p>{{ slot[1] }}</p>
            <p>{{ slot[2] }}</p>
            <p>{{ slot[3] }}</p>
        {% endfor %}
    </div>
{% endblock %}