{% extends 'base.html.twig' %}
{% block title %}Booking{% endblock %}
{% block body %}

    <h2>Choose your preferred service</h2>
    {{ form_start(booking_form) }}
    {{ form_widget(booking_form) }}
    {{ form_end(booking_form) }}
{% endblock %}