{% extends 'base.html.twig' %}

{% block body %}

    <h2>Choose your preferred service</h2>
    {{app.user.id}}
    {{ form_start(booking_form) }}
    {{ form_widget(booking_form) }}
    {{ form_end(booking_form) }}
{% endblock %}