<nav class="bg-green-600">
  <div class="max-w-7xl mx-auto px-2">
    <div class="relative flex items-center justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        
      </div>
      <div class="flex-1 flex items-center justify-between">
       <div class="items-center">
              <span class="text-white text-2xl font-bold font-medium">Sim's Spa</span>
        </div>  

        <div class="sm:block sm:ml-6">
          <div class="flex space-x-4">

            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="/home" class="text-white px-3 py-2 text-sm font-medium rounded-md hover:bg-green-700 hover:text-white " aria-current="page">Home</a>

            <a href="/appointment/{{app.user.id}}" class="text-white hover:bg-green-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">My Appointments</a>
         
            <a href="/reviews" class="text-white hover:bg-green-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Reviews</a>
          
            <a href="/logout" class="px-3 py-2 text-white hover:text-white focus:outline-none rounded-md hover:bg-green-700 hover:text-white text-sm">
          Logout
        </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</nav>